.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

}

.header_logo {
    width: 200px;
}

.header_link {
    color: #2c3e50;
    text-decoration: none;
}